<h2>References in BibTex-format</h2>

<textarea readonly id="textfield" rows="20" cols="50">
  <% @bibtex.each do |single_reference| %>
    <% single_reference.each do |single_row| %>
<%= single_row %>
    <% end %>

  <% end %>
</textarea>

<br /><br />

<%= link_to 'Back', :root, class:'btn btn-primary' %>
<button class="btn btn-success" data-clipboard-target="#textfield">Copy to clipboard</button>

