<h1>Listing Referencelists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @referencelists.each do |referencelist| %>
      <tr>
        <!--<td><%# referencelist.user_id %></td>-->
        <td><%= referencelist.name %></td>
        <td><%= link_to 'Show', referencelist, class:"btn btn-primary" %>
        <%# link_to 'Edit', edit_referencelist_path(referencelist), class:"btn btn-primary" %>
        <%= link_to 'Delete', referencelist, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Referencelist', new_referencelist_path, class:"btn btn-primary" %>
